/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #F9F1E7;
    color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    transition: transform 0.4s, opacity 0.4s;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.burger-close {
    display: none; /* Начнем с его скрытия 
}

/* .menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #F9F1E7;
    color: #000;
    transition: left 0.4s;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 15px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu.active {
    left: 0;
} */ 


/* стили обычного хедера */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background__for__left__size {
    width: 964px;
    height: 774px;
    background-color: #F9F1E7;
}

.background__for__right__size {
    width: 476px;
    height: 774px;
    background-color: #FCF8F3;
    display: block;
}


/* стили обычного хедера */