/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #F9F1E7;
    color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    transition: transform 0.4s, opacity 0.4s;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.burger-close {
    display: none; /* Начнем с его скрытия 
}

/* .menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #F9F1E7;
    color: #000;
    transition: left 0.4s;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 15px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu.active {
    left: 0;
} */ 


/* стили обычного хедера */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__for__back {
    display: flex;
    align-items: center;
}

.background__for__left__size {
    width: 964px;
    height: 774px;
    background-color: #F9F1E7;
}

.background__for__right__size {
    width: 600px;
    height: 774px;
    background-color: #FCF8F3;
}


/* .header__container {
    /* position: absolute; 
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* стили обычного хедера 

.main__content img {
    position: absolute;
}     старый код*/ 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 57px 96px;
    /* margin-top: 48px; */
}

.header__logo, .header__header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__logo p {
    color: #6C5FBC;
    font-family: Poppins;
    font-size: 21.176px;
    font-weight: 600;
    line-height: 130%; 
}

.header__header__nav p {
    color: #606060;
    font-family: Inter;
    font-size: 17.829px;
    font-weight: 500;
    line-height: 26.743px; /* 150% */
    text-transform: capitalize;
}


.header__login__panel button {
    color: #606060;
    padding: 17.83px;
    border: none;
    background-color: white;
    font-family: Inter;
    font-size: 17.829px;
    font-weight: 700;
    line-height: 26.743px; 
    text-transform: capitalize;
    margin-left: 20px
}

.header__login__panel button:hover {
    cursor: pointer;
    color: white;
    background:  #6C5FBC;
    border: none;
    border-radius: 17.829px;
}


.line {
    padding: 0 100px;
    padding-bottom: 155px;
}


/* main */
.main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.centered-container {
    display: flex;
    justify-content: space-between;
    padding-left: 97px;
    padding-right: 179px;
}

main .preline {
    width: 54px;
    height: 1px;
    opacity: 0.2;
    background: #201F1F;
}

.left-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 567px;
    row-gap: 18px;
}

.left-block__line {
    display: flex;
    align-items: center;
}

.header-text {
    color: #201F1F;
    font-family: Poppins;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 90px */
    letter-spacing: -3px;
}

.header-text span {
    color: #5C4EAE;
    font-family: Poppins;
    font-size: 75px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -3px;
}

.main-text {
    color: #676767;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-bottom: 23px;
}

.main-text span {
    opacity: 0.7;
    color: #6155AE;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.main__buttons {
    display: flex;
    gap: 18px;
}

.left-block {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.left-block button {
    padding: 17px;
    color: #6C5FBC;
    font-family: Poppins;
    font-size: 16.271px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.163px;
    text-transform: capitalize;
    border-radius: 12.412px;
    border: 1.5px solid #6C5FBC;
    margin-bottom: 23px;
}

.left-block button:hover {
    color: white;
    border-radius: 12.412px;
    background: #6C5FBC;
    cursor: pointer;
}

.third__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third__section p {
    color: var(--blue-gray-700, #334155);
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.circle {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background: linear-gradient(137deg, #6C5FBC 4.83%, #5144A0 98.22%);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    max-width: 100%; 
    max-height: 100%; 
    height: auto;
    object-fit: cover; 
    border-radius: 50%;
}

.right-block {
    
}

/* section about us */

.about-us {
    /* padding: 180px; */
    width: 100%;
    height: 220.5px;
    background-color: #6C5FBC;
}

.about-us .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 270px;
}

.container__frist__block p:first-child, .container__second__block p:first-child, .container__third__block p:first-child {
    color: var(--base-white, #FFF);
    text-align: center;
    font-family: Public Sans;
    font-size: 43.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 125% */
}

.container__frist__block p:last-child, .container__second__block p:last-child, .container__third__block p:last-child {
    color: #C5BFED;
    text-align: center;
    font-family: Inter;
    font-size: 14.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px; /* 150% */
}

/* application */

.application {
    margin: 120px 0;
}

.application__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 308px;
    padding-right: 196px;
}

.application__second__block h2 {
    margin-bottom: 63px;
}

.application__second__block ul {
    /* Установите нулевые отступы и маргины для списка */
    padding: 0;
    margin: 0;
  }
  
  .application__second__block ul li:first-child {
    margin-bottom: 28px;
  }

  .application__second__block ul li:last-child {
    margin-bottom: 66px;
  }

  .application__second__block button {
    margin: 0;
    padding: 20px 26px;
    border-radius: 14.675px;
    border: none;
    background: #6C5FBC;      
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18.062px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.577px; /* 125% */
    text-transform: capitalize;  
    cursor: pointer;
  }


  .application__second__block button:hover {
    font-weight: bold;
  }

  .application__second__block h2 {
    color: var(--gray-900, #18181B);
    font-family: Poppins;
    font-size: 50.923px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.198px; /* 114.286% */
    text-transform: capitalize;
  }

  .application__second__block span {
    color: #6C5FBC;
    font-family: Poppins;
    font-size: 50.923px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.198px;
    text-transform: capitalize;
  }

  .application__second__block ul li {
    color: #676767;
    font-family: Inter;
    font-size: 20.335px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.502px; /* 150% */
  }


  .application__second__block img:last-child {
    margin-left: 15px;
    position: absolute;
    transform: translate(-50%);
  }

  /* swiper 1*/

  .restaurants h2 {
    color: #323142;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.558px; /* 73.024% */
    text-align: center;
    margin-bottom: 76px;
  }

  .restaurants span {
    color: #6C5FBC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.558px;
  }

  .swiper {
    width: 75%;
    height: 80%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; /* Расположение изображения и текста в столбец */
    text-align: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0;
  }


  .slide-content {
    display: flex; /* Устанавливаем flex-контейнер для блока с текстом */
    flex-direction: row; /* Располагаем текст в столбец */
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Расстояние между элементами внутри блока */
  }


